<section class="card">
  <div class="card-body">
    <h1>Sobre nosotros</h1>
    <p>
      Expert Hands nace con la intención de poder realizar una conexcion entre clientes y proveedores de servicios profesionales. 
       Expert Hands permite a profesionales ofrecer sus talentos a domicilio o en establecimientos mediante un marketplace de servicios 
       en el cual las personas podrán contratar sus servicios desde una aplicación web.
    </p>
  </div>
</section>
