<div class="card card-body p-5 mt-4">
        <img
        class="rounded-circle mx-auto d-block logo m-1"
        src="/img/logo.png"
        alt="Logo"
      />
  <hr class="my-4" />
    <h1 class="display-7">¿Necesitas ayuda?</h1>
  <p>Expert Hands te permite encontrar los mejores profesionales para los servicios que necesitas. 
    Contamos con personas de confianza que te ayudaran a solucionar esos problemas que tienes en casa o en tu negocio. 
    Puede elegir entre un gran catalogo de profesionales, con gran experiencia en sus areas, como ser: electrisistas, soldadores, albañiles,
    fontaneros, jardineros, pintores, etc...
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrate</a>
  </div>
</div>